# git+https://github.com/supervisely/supervisely.git@some-test-branch

supervisely[training]==6.73.338
setuptools==69.5.1
scikit-learn
plotly==5.22.0

tensorboard
pycocotools
torch==2.0.1
torchvision==0.15.2
scipy
imgaug
onnx==1.14.0
onnxruntime==1.15.1
PyYAML