# git+https://github.com/supervisely/supervisely.git@some-test-branch

supervisely[training]==6.73.440
supervisely[model-benchmark]==6.73.440
torch==2.6.0
torchvision==0.21.0
onnx==1.14.0
onnxruntime-gpu==1.15.1
pycocotools==2.0.8
PyYAML==6.0.2
tensorboard==2.19.0
transformers==4.50.3
calflops==0.3.2
scipy==1.15.2
faster-coco-eval==1.6.5
imgaug==0.4.0