# git+https://github.com/supervisely/supervisely.git@some-test-branch

supervisely[training]==6.73.509
supervisely[tracking]==6.73.509
supervisely[model-benchmark]==6.73.509

torch==2.7.1
torchvision==0.22.1
onnx==1.16.1
onnxruntime-gpu==1.19.2
tensorrt-cu12==10.13.2.6
tensorboard==2.19.0

transformers==4.50.3
calflops==0.3.2
scipy==1.15.2
faster-coco-eval==1.6.8
imgaug==0.4.0